<ul class="menu">
    <li class="menu-item">
        <a href="{% url 'welcome' %}" class="menu-link">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'dashboard' %}" class="menu-link">
            <i class="fa-solid fa-file"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'add-post' %}" class="menu-link">
            <i class="fa-solid fa-circle-plus"></i>
            <span>Add Post</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="fa-solid fa-pen-to-square"></i>
            <span>Edit</span>
        </a>
    </li>
    {% if request.user.is_authenticated %}
        <li class="menu-item">
            <a href="{% url 'logout' %}" class="menu-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </li>
    {% else %}
        <li class="menu-item">
            <a href="{% url 'login' %}" class="menu-link">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Login</span>
            </a>
        </li>

    {% endif %}
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
    </li>
</ul>

<form style="display: none;" id="logout-form" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
</form>