<ul class="menu">
    <li class="menu-item">
        <a href="{% url 'welcome' %}" class="menu-link">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'dashboard' %}" class="menu-link">
            <i class="fa-solid fa-file"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'add-post' %}" class="menu-link">
            <i class="fa-solid fa-circle-plus"></i>
            <span>Add Post</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="fa-solid fa-pen-to-square"></i>
            <span>Edit</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="fa-solid fa-bell"></i>
            <span>Notifications</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
    </li>

</ul>